<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <section class="conteiner">
            <div class="form-conteiner">
                <form class="form">
                    <h1>LOGIN</h1>
                    <input class="input" type="text" placeholder=" nome">
                    <input class="input" type="password" placeholder=" senha">
                    <div class="space-button">
                       <button class="botEnv" type="submit"> Enviar </button>
                       <button class="botCan" type="submit"> Cancelar </button>
                    </div>    
                    
                    <div>
                        <p> Não possui conta? </p>
                        <a class="cadastro" href="">Cadastre-se</a> 
                    </div>
                    
                </form>
            </div>
        </section>
    </div>
</body>
</html>